* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Sora", sans-serif;
}
body {
  font-size: 1.6rem;
  background-color: #fffaf5;
}
input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}
:root {
  --primary-color: #000958;
  --text-color: #656689;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.section__heading {
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
  color: #000958;
}
.section__desc {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
  color: var(--text-color);
}
.header {
  padding: 26px 0px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
  list-style-type: none;
}
.navbar__link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: #5e6085;
  padding: 8px 18px;
}
.navbar__link:hover {
  color: #000958;
  text-shadow: 1px 0px #000958;
}
.btn {
  height: 56px;
  min-width: 130px;
  line-height: 56px;
  border: 1px solid rgba(0, 9, 88, 0.7);
  border-radius: 99px;
  display: inline-flex;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
}
.btn--primary {
  color: #fff;
  background-color: #ff5b2e;
}
.btn:hover {
  opacity: 0.7;
}
.header-action__link,
.header-action__btn {
  text-decoration: none;
}
.header-action__btn {
  min-width: 118px;
  --height: 50px;
}
.header-action__link {
  font-size: 1.4rem;
  font-weight: 600;
  color: #5e6085;
}
.header-action__btn {
  margin-left: 20px;
}
/* hero */
.hero {
  margin-top: 76px;
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 110px;
}
.hero__media {
  display: flex;
  position: relative;
  padding-bottom: 94px;
}
.hero__img-wrap {
  width: 388px;
  height: 488px;
  background-color: #fe997b;
  border-radius: 16px;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.hero__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 16px;
}
.hero__decor {
  position: absolute;
  z-index: -1;
}
.hero__decor-right {
  left: -58px;
  bottom: 10px;
}
.hero__decor-left {
  top: 16px;
  right: -40px;
}
.hero__img-wrap-small {
  width: 186px;
  height: 244px;
  background-color: #faa7ad;
  align-self: flex-end;
  margin-left: -24px;
  margin-bottom: -58px;
  border: 2px solid #f7dddf;
}
.hero__list {
  width: 250px;
  height: 156px;
  background-color: #fff;
  box-shadow: -17px 14px 68px -4px #cfae8440;
  border-radius: 10px;
  padding: 18px 14px;
  position: absolute;
  left: 129px;
  bottom: 0;
}
.hero-list-item__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  background-color: #fe997b;
}
.hero__list-item {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}
.hero-list-item__info {
  margin-left: 10px;
}
.hero-list-item__title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  color: #181e52;
  margin: 0;
}
.hero-list-item__skeleton {
  width: var(--width, 118px);
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background-color: #000958;
  margin-top: 6px;
}
.hero-list-item__seperate {
  width: 100%;
  height: 2px;
  background-color: #f2f2f2;
  border-radius: 99px;
  margin: 20px 0px;
  display: block;
}
.hero__list-item:nth-of-type(2) .hero-list-item__thumb {
  background-color: #c6e2fa;
}
.hero__heading {
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15;
  color: var(--primary-color);
  margin-bottom: 24px;
}
.hero__desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 30px;
  color: #656689;
  width: 391px;
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.btn--primary,
.hero__cta-link {
  text-decoration: none;
  border: none;
}
.hero__cta-btn {
  box-shadow: 0px 13px 26px -8px #ff5b2e6b;
  min-width: 190px;
  height: 60px;
  font-size: 1.6rem;
}
.btn__icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__cta-link {
  margin-left: 24px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  text-decoration: underline;
  color: var(--primary-color);
}
/* About */
.about__media {
  position: relative;
}
.about {
  margin-top: 138px;
}
.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 146px;
}
.about__label {
  font-family: Sora, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: var(--text-color);
}
.about__heading {
  margin-top: 15px;
}
.about__heading,
.about__desc {
  width: 392px;
}
.about__checklist {
  margin-top: 54px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  gap: 36px;
}
.about__cheack-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  color: #48496a;
}
.about__cheack-item::before {
  content: "";
  width: 24px;
  height: 24px;
  box-shadow: 0px 4px 15px -3px #ff5d31b0;
  border-radius: 4px;
  display: inline-block;
  background-color: #ff5d31;
}
.about__cheack-item::after {
  content: url(../img/checklist.svg);
  position: absolute;
  top: 3px;
  left: 5px;
}
.about__card {
  width: 136px;
  border-radius: 10px;
  box-shadow: -15px 26px 48px 0px #55f0ff2b;
  background-color: #5bd6e2;
  padding: 30px 26px;
  text-align: center;
  position: absolute;
  top: 165px;
  left: 0;
}
.about__card-title {
  font-family: Sora;
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}
.about__card-desc {
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
  color: #c6f4f9;
}
.about__card-decor {
  position: absolute;
  top: -38px;
  right: -39px;
}
.about__img-wrap {
  width: 494px;
  position: relative;
  margin-left: auto;
  margin-right: 0;
}
.about__img-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  border-radius: 16px;
  height: 336px;
  z-index: -1;
}
.about__img {
  width: 450px;
  display: block;
  margin: 0 auto;
}
.about__media-decor {
  position: absolute;
  top: 157px;
  right: -50px;
  z-index: -1;
}
.about__img-wrap-bottom {
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%),
    linear-gradient(0deg, #ffffff, #ffffff);
  border: 2px solid #ffffff;
  box-shadow: 0px 17px 77px -8px #bea58b2b;
  border-radius: 20px;
  margin-left: 0;
  width: 458px;
}
.about__img-wrap-bottom::after {
  content: none;
}
.about__img-bottom {
  width: 100%;
}
.about__decor-img {
  position: absolute;
}
.about__decor-img:nth-child(1) {
  top: 13px;
  right: 64px;
}
.about__decor-img:nth-child(2) {
  top: -16px;
  right: 13px;
}
.about__decor-img:nth-child(3) {
  top: 33px;
  right: -21px;
}
.about__decor-img:nth-child(4) {
  top: 268px;
  right: -33px;
}
.about__decor-img:nth-child(5) {
  bottom: 150px;
  right: 19px;
}
.about__decor-img:nth-child(6) {
  right: -24px;
  bottom: -40px;
}
.about__decor-img:nth-child(7) {
  right: -33px;
  bottom: -47px;
}
.about__decor-img:nth-child(8) {
  right: -42px;
  bottom: -55px;
}
.about__desc-bottom {
  width: 450px;
  margin-bottom: 50px;
}
.tab__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  column-gap: 56px;
  position: relative;
  padding: 0;
}
.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff5b2e;
  height: 2px;
  border-radius: 1px;
  opacity: 0.07;
}
.tab__item--active::after {
  width: 145px;
  opacity: 1;
}
.tab__item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
}
.tab__icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.tab__title {
  font-family: Sora, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 18px;
  color: var(--primary-color);
}
.tab__content {
  padding-top: 36px;
}
.tab__content-item {
  display: none;
}
.tab__content-item--active {
  display: block;
}
.tab__content-desc {
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
  width: 391px;
  color: var(--text-color);
}
.tab__content-more {
  font-family: Poppins, sans-serif;
  font-size: 1.6;
  font-weight: 500;
  line-height: 16px;
  color: #ff5d31;
  text-decoration: none;
  margin-top: 32px;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
.tab__content-more::after {
  opacity: 1;
  height: 1.5px;
}
.service-wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
.service {
  background-color: #fff6ed;
  margin-top: 130px;
  text-align: center;
  padding: 100px 135px;
}
.service__title {
  font-family: Sora, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: var(--text-color);
}
.service__heading {
  font-family: Sora, sans-serif;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 62px;
  color: var(--primary-color);
}
.service__card-item {
  width: 294px;
  height: 208px;
  background-color: #fff;
  padding: 30px 22px 30px 28px;
  text-align: left;
  margin-bottom: 24px;
}
.service__card-title {
  font-family: Sora, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 22px;
  color: var(--primary-color);
  position: relative;
  margin: 0;
  margin-bottom: 18px;
  margin-left: 18px;
}
.service__card-title::before {
  content: "";
  width: 2px;
  height: 22px;
  background: linear-gradient(89.89deg, #ff5b2e 0.39%, #ffa187 100.29%);
  position: absolute;
  border-radius: 4px;
  left: -18px;
  top: 0;
}
.service__card {
  width: 294px;
}
.service__card-desc {
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
  text-align: left;
  width: 210px;
}
.service__card-link {
  text-decoration: none;
  font-family: Sora;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 12px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}
.service__card-img {
  margin-left: 6px;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.service__banner {
  width: 440px;
  text-align: center;
}
.service__media {
  width: 440px;
  height: 650px;
  position: relative;
}
.service__banner-img {
  width: 100%;
  height: 621px;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.service__media::after {
  content: "";
  width: 410px;
  height: 350px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
  position: absolute;
  bottom: 0;
  left: 22px;
  border-radius: 10px;
}
.service__banner-btn {
  border: 1px solid #ff5b2e;
  margin-top: 45px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  padding: 0px 40px;
  color: #ff5b2e;
}
